<% content_for :title, "Wings" %>

<div class="container my-4">
  <% if is_new_button_visible %>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="h3"><%= header.pluralize %></h1>
      <%= link_to "New #{header}", new_record_path, class: "btn btn-primary" %>
    </div>
  <% end %>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
        <%= yield :datatable_header %>
    </thead>
    <tbody>
        <%= yield :datatable_body %>
    </tbody>
  </table>
</div>
